@use "./variables.scss" as *;
@use "./mixins.scss" as mx;

.info {
  padding: 0 $prim-padding $prim-padding;

  &__title {
    font-size: 32px;
    font-weight: $font-extra-bold;

    @media (min-width: $breakpoint-md) and (max-width: $breakpoint-lg) {
      font-size: 24px;
    }
    @media (max-width: $breakpoint-md) {
      font-size: 18px;
    }
  }

  &__text {
    font-size: 20px;
    font-weight: $font-bold;
    opacity: 60%;
    max-height: 0;
    overflow: hidden;
    
    @media (min-width: $breakpoint-md) and (max-width: $breakpoint-lg) {
      font-size: 16px;
    }
    @media (max-width: $breakpoint-md) {
      font-size: 14px;
    }
  }

  &__toggle {
    color: $yellow-color;
    font-size: 20px;
    font-weight: $font-extra-bold;
    cursor: pointer;

    @media (min-width: $breakpoint-md) and (max-width: $breakpoint-lg) {
      font-size: 16px;
    }

    @media (max-width: $breakpoint-md) {
      font-size: 14px;
    }

    &::after {
      content: "Read more";
    }
  }

  &__toggle-checkbox {
    display: none;
  }

  @media (min-width: $breakpoint-md) and (max-width: $breakpoint-lg) {
    padding: 0 20px 20px;
  }

  @media (max-width: $breakpoint-md) {
    padding: 0 20px 20px;
  }
}

.info__toggle-checkbox:checked ~ .info__text {
  max-height: 1000px;
}

.info__toggle-checkbox:checked ~ .info__toggle::after {
  content: "Read less";
}