@use "./variables.scss" as *;
@use "./mixins.scss" as mx;

.logo {
  width: 100px;
  height: 35px;
}

.navbar {
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;

  &__item {
    cursor: pointer;

    &__icon {
      width: 24px;
      height: 20px;

      &:hover {
        @include mx.navbar-hover-item();
      }
    }

    &__title {
      margin-right: 40px;

      @media (max-width: $breakpoint-md) {
        margin: 0;
      }

      &:hover {
        @include mx.navbar-hover-item()
      }
    }
  }

  @media (max-width: $breakpoint-md) {
      flex-direction: column;
      justify-content: space-between;
      position: absolute;
      top: 5rem;
      left: 0;
      right: 0;
      background: $black-color;
      padding: 1rem;
      display: none;

      &--open {
        display: flex;
      }
    }
}
.burger {
    display: none;
    flex-direction: column;
    gap: 5px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 10;

    span {
      display: block;
      width: 25px;
      height: 2px;
      background: $white-color;
      border-radius: 2px;
      transition: 0.3s;
    }

    &--open span:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px);
    }

    &--open span:nth-child(2) {
      opacity: 0;
    }

    &--open span:nth-child(3) {
      transform: rotate(-45deg) translate(5px, -5px);
    }

    @media (max-width: $breakpoint-md) {
      display: flex;
    }
  }