$breakpoint-sm: 480px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;

$bg-color: #000000;

$black-color: #000000;
$blue-collor: #304571;
$white-color: #ffffff;
$yellow-color: #ebff00;
$pink-color: #ff70d9;

$prim-margin: 40px;
$prim-padding: 70px;

$font-bold: 700;
$font-extra-bold: 800;

$card-title-lg: 72px;
$card-text-lg: 32px;
$card-title-md: 48px;
$card-text-md: 22px;
$card-title-sm: 36px;
$card-text-sm: 16px;