//----- Variables start
@use "./styles/variables" as *;
@use "./styles/mixins.scss" as mx;

@use "./styles/layout.scss";
@use "./styles/navbar.scss";
@use "./styles/button.scss";
@use "./styles/banner.scss";
@use "./styles/offers.scss";
@use "./styles/info.scss";

body {
  margin: 0;
  background-color: $bg-color;
  color: $white-color;
  font-family: "Lato", sans-serif;
}
